body{
    background-color: aqua;
}

table{
    border: 3px solid black;
    border-collapse: collapse;
    padding: 8px;
}

th, td {
    border: 1px solid red;
    padding: 8px;
}

p{
    color: red;
}

h1{
    color: blue;
}

#paragrafo{
    color: yellowgreen;
}