body {
    
    background-color:  rgb(240, 183, 99);
}

table {
    border: 3px solid black;
    border-collapse: collapse;
    padding: 8px;
}

th, td {
    border: 1px solid red;
    padding: 8px;
}

p{
    color: rgb(3, 3, 3);
}

h1{
    color: rgb(255, 0, 0);
}

#paragrafo{
    color: yellowgreen;
}